<div *ngFor="let repo of repositories" class="custom-card p-4 mb-4">
  <h3 style="word-break: break-all;">{{ repo.name }}</h3>
  <p>{{ repo.description }}</p>
  <p>{{ repo.topics.join(",") }}</p>
</div>

<div class="pagination mt-4">
  <button class="btn btn-warning" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Previous</button>
  <span class="m-2">Page {{ currentPage }}</span>
  <button class="btn btn-primary" (click)="onPageChange(currentPage + 1)">Next</button>
</div>
