.custom-card {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.custom-img {
    border-radius: 50%;
}

.view-btn {
    color: blue;
    cursor: pointer;
    float: right;
}