/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif, "Helvetica Neue", sans-serif;
}
app-home {
  display: flex;
  justify-content: center;
}
app-profile {
  display: flex;
  justify-content: center;
}
app-repository-list {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}